body{
  text-align: center;
  background: linear-gradient(#a5f0b9,#4deb31,#65ebd2,#33a1f5);
}
.column1{
width: 33%;
height: 200px;
float: left;
text-align: center;
}
.column2{
width: 33%;
height: 200px;
float: right;
text-align: center;
}
.column3{
  width: 33%;
  height: 200px;
  float: right;
  text-align: center;
}
.images{
  width: 100px;
  height: 100px;
}
.button{
 background:red;
}